<ion-content class="ion-padding">
  <div class="login-container">
    <img src="/assets/img/Milo-store.jpg" alt="Milo-store-Logo" class="logo" />

    <!--Ingreso Usuario-->
    <form (ngSubmit)="login()" #loginForm="ngForm" class="login-form">
      <ion-item>
        <ion-label position="floating">Correo electrónico</ion-label>
        <ion-input
          class="custom-input"
          [(ngModel)]="email"
          name="email"
          type="email"
          required
          email
        ></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Contraseña</ion-label>
        <ion-input
          class="custom-input"
          [(ngModel)]="password"
          name="password"
          type="password"
          required
          pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)[A-Za-z\d]{8,}$"
          minlength="8"
          maxlength="20"
        ></ion-input>
      </ion-item>

      <!--Boton del Login-->
      <ion-button
        expand="block"
        type="submit"
        class="login-button"
        [disabled]="!loginForm.form.valid"
      >
        Ingresar
      </ion-button>
    </form>

    <div class="divider">
      <div class="line"></div>
      <div class="or">o</div>
      <div class="line"></div>
    </div>

    <p class="forgot">¿Has olvidado la contraseña?</p>

    <div class="registro">
      ¿No tienes una cuenta?
      <a href="#" (click)="registro(); $event.preventDefault()">Regístrate</a>
    </div>
  </div>
</ion-content>
