<ion-content class="ion-padding">
  <div class="login-container">
    <h1 class="logo">SkeletonApp</h1>

    <!-- Formulario de inicio de sesion -->
    <!--Ingreso Usuario-->
    <form (ngSubmit)="login()" class="login-form">
      <ion-item>
        <ion-label position="floating">Usuario</ion-label>
        <ion-input
          [(ngModel)]="email"
          name="email"
          type="text"
          minlength="3"
          maxlength="8"
          pattern="[a-zA-Z0-9]+"
          required
        ></ion-input>
      </ion-item>
      <!--ingreso contraseña-->
      <ion-item>
        <ion-label position="floating">Contraseña</ion-label>
        <ion-input
          [(ngModel)]="password"
          name="password"
          type="password"
          minlength="4"
          maxlength="4"
          pattern="[0-9]*"
          required
          inputmode="numeric"
        ></ion-input>
      </ion-item>

      <ion-button expand="block" type="submit" class="login-button">
        Ingresar
      </ion-button>
    </form>

    <div class="divider">
      <div class="line"></div>
      <div class="or">o</div>
      <div class="line"></div>
    </div>

    <p class="forgot">¿Has olvidado la contraseña?</p>

    <div class="register">
      ¿No tienes una cuenta?
      <a href="#">Regístrate</a>
    </div>
  </div>
</ion-content>
